{% if site.category_tag_cloud %}
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/css3-' style='font-size: 120.0%'>Css3,(1)</a>  <a href='/blog/categories/html5' style='font-size: 160.0%'>Html5(3)</a>  <a href='/blog/categories/html5-' style='font-size: 120.0%'>Html5,(1)</a>  <a href='/blog/categories/octopress' style='font-size: 140.0%'>Octopress(2)</a>  <a href='/blog/categories/web前端' style='font-size: 160.0%'>Web前端(3)</a>  <a href='/blog/categories/web前端-' style='font-size: 120.0%'>Web前端,(1)</a>  <a href='/blog/categories/原创' style='font-size: 140.0%'>原创(2)</a>  <a href='/blog/categories/读书笔记' style='font-size: 140.0%'>读书笔记(2)</a>  <a href='/blog/categories/读书笔记-' style='font-size: 120.0%'>读书笔记,(1)</a>  <a href='/blog/categories/读书笔记-web前端' style='font-size: 120.0%'>读书笔记，web前端(1)</a> </span>
</section>
{% endif %}
