{% if site.category_sidebar %}
<section>
<h1>category</h1>
<ul>
  <li><a href='/blog/categories/css3-'>Css3, (1)</a></li>
  <li><a href='/blog/categories/html5'>Html5 (3)</a></li>
  <li><a href='/blog/categories/html5-'>Html5, (1)</a></li>
  <li><a href='/blog/categories/octopress'>Octopress (2)</a></li>
  <li><a href='/blog/categories/web前端'>Web前端 (3)</a></li>
  <li><a href='/blog/categories/web前端-'>Web前端, (1)</a></li>
  <li><a href='/blog/categories/原创'>原创 (2)</a></li>
  <li><a href='/blog/categories/读书笔记'>读书笔记 (2)</a></li>
  <li><a href='/blog/categories/读书笔记-'>读书笔记, (1)</a></li>
  <li><a href='/blog/categories/读书笔记-web前端'>读书笔记，web前端 (1)</a></li>
</ul>
</section>
{% endif %}
