@font-face{
    font-family: UglyQua;
    src: url('/fonts/UglyQua.ttf');
    src: url('/fonts/UglyQua-Italic.ttf');
}
#book_wrapper article{
    position: absolute;
    width: 240px;
    height: 300px;
    border-radius: 30px;
    background-color: #ccc;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}
#tran-eg div{
    height: 50px;
    width: 10%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4) 70%),
                -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4) 70%),
                -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4) 70%),
                -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4) 70%),
                linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4) 70%);
    box-shadow: 0 -10px 25px rgba(0,0,0,0.4),inset;
    transition: width 3s;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 2px #fff;
}
#tran-eg:hover div{
    width: 100%;
}
@-webkit-keyframes text-flames{
    0%  { text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3,
                     -2px -15px 11px #f80, 2px -25px 18px #f20;}
    19% {text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3,
                     -2px -15px 11px #f80, 2px -25px 18px #f20;}
    20% {text-shadow: 0 0 4px white, 0 -4px 3px #ff4, 3px -9px 7px #fd3,
                     -3px -14px 12px #f90, 3px -24px 19px #f30;}
    39% {text-shadow: 0 0 4px white, 0 -4px 3px #ff4, 3px -9px 7px #fd3,
                     -3px -14px 12px #f90, 3px -24px 19px #f30;}
    40% {text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 3px -8px 8px #fd4,
                     -3px -12px 11px #f80, 2px -25px 20px #f30;}
    59% {text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 3px -8px 8px #fd4,
                     -3px -12px 11px #f80, 2px -25px 20px #f30;}
    60% {text-shadow: 0 0 5px white, 0 -6px 5px #ff5, 2px -7px 7px #fd3,
                     -5px -13px 15px #ff7700, 4px -24px 19px #f41;}
    79% {text-shadow: 0 0 5px white, 0 -6px 5px #ff5, 2px -7px 7px #fd3,
                     -5px -13px 15px #ff7700, 4px -24px 19px #f41;}
    80% {text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 5px -8px 6px #fe3,
                     -4px -12px 13px #f82, 2px -26px 18px #f20;}
    100% {text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 5px -8px 6px #fe3,
                     -4px -12px 13px #f82, 2px -26px 18px #f20;}
}
@keyframes text-flames{
    0%  { text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3,
                     -2px -15px 11px #f80, 2px -25px 18px #f20;}
    19% {text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3,
                     -2px -15px 11px #f80, 2px -25px 18px #f20;}
    20% {text-shadow: 0 0 4px white, 0 -4px 3px #ff4, 3px -9px 7px #fd3,
                     -3px -14px 12px #f90, 3px -24px 19px #f30;}
    39% {text-shadow: 0 0 4px white, 0 -4px 3px #ff4, 3px -9px 7px #fd3,
                     -3px -14px 12px #f90, 3px -24px 19px #f30;}
    40% {text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 3px -8px 8px #fd4,
                     -3px -12px 11px #f80, 2px -25px 20px #f30;}
    59% {text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 3px -8px 8px #fd4,
                     -3px -12px 11px #f80, 2px -25px 20px #f30;}
    60% {text-shadow: 0 0 5px white, 0 -6px 5px #ff5, 2px -7px 7px #fd3,
                     -5px -13px 15px #ff7700, 4px -24px 19px #f41;}
    79% {text-shadow: 0 0 5px white, 0 -6px 5px #ff5, 2px -7px 7px #fd3,
                     -5px -13px 15px #ff7700, 4px -24px 19px #f41;}
    80% {text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 5px -8px 6px #fe3,
                     -4px -12px 13px #f82, 2px -26px 18px #f20;}
    100% {text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 5px -8px 6px #fe3,
                     -4px -12px 13px #f82, 2px -26px 18px #f20;}
}
div.burning_text{
    -webkit-animation: text-flames 0.65s infinite;
    animation: text-flames 0.65s infinite;
}