body > header {
  h1 {
    display: inline-block;
    margin: 0;
    font-weight: bold;
    a, a:visited, a:hover {
      color: #2BC02B;
      text-decoration: none;
      text-shadow: 1px 1px 1px #000;
    }
  }
  h2 {
    margin: 0.2em 0 0 0;
    @extend .sans;
    font-size: 1em;
    color: #ccc;
    font-weight: normal;
  }
}
