body > header {
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
      text-shadow: 0.1em 0.1em 0.2em #333;
    }
    a:hover {
      color: #ccc;
    }
  }
  h2 {
    margin: 0.2em 0 0 0;
    @extend .sans;
    font-size: 1em;
    color: $title_color;
    font-weight: normal;
  }
}
