body > header {
  h1 {
    display: inline-block;
    margin: 0;
    font-weight: bold;
    a, a:visited, a:hover {
      color: #008000;
      text-decoration: none;
    }
    a:hover {
      color: #228B22;
    }
  }
  h2 {
    margin: 0.2em 0 0 0;
    @extend .sans;
    font-size: 1em;
    color: #778899;
    font-weight: normal;
  }
}
