html{
	font-size: 16px;
	line-height: 1.5;
	background-color: #444;
}
body{
	font-family: Arial, sans-serif;
	color:#fff;
	padding: 10px;
}
div, p{
	display: block;
	padding: 3px;
	margin: 0;
}
input,select{
	font-size: 1em;
	border: none;
	border-radius: 6px;
	padding: 5px 10px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input:focus,
select:focus{
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.input-sm{
	width: 5em;
}
div.sub{
	margin-left:1em;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active{
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary:active{
  background-image: none;
}
.label{
	font-weight: bold;
	display: inline-block;
	width: 5em;
}
/*android*/
@media only screen and (max-width: 500px){
}