html{
	font-size: 16px;
	line-height: 1.5;
	background-color: #333;
}
body{
	color: #B1B17B;
	padding: 10px 0 10px 10px;
  margin: 0;
}
body, input, select, button{
  font-family: sans-serif;
}
div, p{
  display: block;
  padding: 3px;
  margin: 0;
}
input,select{
	font-size: 1em;
  color:#fff;
	border: none;
	border-radius: 6px;
	padding: 5px 10px;
  margin-right: 5px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background: #505050;
  border:1px solid #777;
}
input:focus{
  background: #2c3037;
  border:1px solid #ccc;
}
input:focus,
select:focus{
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
option{
  color: #fff;
}
.input-sm{
	width: 5em;
}
.input-mid{
  width: 8em;
}
.input-lg{
  width: 10em;
}
div.row{
	margin-bottom: 2px;
  margin-top: 1px;
}

.btn {
  display: inline-block;
  padding: 6px 18px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active{
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary:active{
  background-image: none;
}
button.calc{
  font-size: 18px;
}
.label{
	font-weight: normal;
	display: inline-block;
	width: 5em;
}
label.title{
  font-weight: bold;
  font-size: 1.1em;
  color: #ddd;
}

/*开关样式*/
#ins-radio-group span:first-child{
  border-radius: 6px 0 0 6px;
}
#ins-radio-group span:last-child{
  border-radius: 0 6px 6px 0;
}
.radio{
  display: inline-block;
  border: 1px solid #ccc;
  padding: 2px 7px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.4s;
}
.radio-selected{
  background: #ccc;
  color: #000;
}
/*android*/
@media only screen and (max-width: 320px){
  body{
    padding: 5px 2px 5px 3px;
  }
  #label-placeholder{
    display: none;
  }
}