// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
article{
    transition: border-color 0.5s;
}
#content .blog-index article h1 a{
    text-shadow: 1px 1px 5px #333333;
}
#content .blog-index article h1 a:hover{
        text-decoration:none;
        text-shadow: 1px 1px 4px #666666;
}
#content .blog-index a[rel=full-article] {
        background: #ebebeb;
        display: inline-block;
        padding: .4em .8em;
        margin-right: .5em;
        text-decoration: none;
        color: #666;
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        transition: background-color 0.5s;
        border: 1px solid #999999;
        border-radius: 1.5em;
}
article header h1{
    text-shadow: 1px 1px 5px #333333;
}
.noticeBox{
        box-shadow: 1px 1px 10px #666666;
        display:none;
        font-size:16px;
        font-weight:bold;
        margin-left:25px;
        color:#ffffff;
        background-color:#FEFAB8;
        border: 7px solid rgba(90,90,90,.8);
        border-radius: 6px;
        padding:20px;
        z-index: 800;
}
.fixed-center{
        position: fixed;
        left: 40%;
        top: 30%;
        max-width: 300px;
}
#blog-archives  article{
    border-radius: 0.4em;
    border-right: 0.4em solid transparent;
    color: #333333;
}
#blog-archives article:hover{
    border-right: 0.4em solid #7FFF00;
    color: #000000;
}
#blog-archives h1 a:hover{
    text-decoration:none;
}
hr{
    margin: 1.2em 0;
    height:1px;
    border:none;
    border-top:1px dashed #0066CC;
}
article blockquote{
    font-style: normal;
    font-size: 1em;
    border-left: 5px solid green;
    border-radius: 5px;
    background-color: rgb(143, 252, 143);
    margin-left: 0.5em;
}
.span-first-charactor{
    float: left;
    font-size: 2.1em;
    text-shadow: 1px 1px 3px #333333;
    padding: 0 4px 2px 4px;
    line-height: 1.3em;
    font-weight: bold;
    color: #ffffff;
    background-color: #6c6c6c;
    margin-right: 0.1em;
}
@font-face{
    font-family: UglyQua;
    src: url('/fonts/UglyQua.ttf');
    src: url('/fonts/UglyQua-Italic.ttf');
}
.myFont{
    font-size: 1.5em;
    font-family: UglyQua;
}
.multi-shadow{
    font-size:2em;
    text-shadow: 0 0 2px #000,
                 0 0 2px #aaa,
                 0 0 4px #999,
                 0 0 6px #888,
                 0 0 8px #666,
                 0 6px 6px rgba(0,0,0,0.5),
                 0 8px 20px rgba(0,0,0,0.5);
}
.ellipse{
    width: 400px;
    height: 200px;
    border-radius: 200px/100px;
    background-color: #cccccc;
    line-height: 200px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}
.fire-words{
    font-size: 3em;
    text-shadow: 0 0 4px white,
                 0 -5px 4px #ffff33,
                 2px -10px 6px #ffdd33,
                 -2px -15px 11px #ff8800,
                 2px -25px 18px #ff2200;
    color: orange;
}
#book_wrapper article{
    position: absolute;
    width: 240px;
    height: 300px;
    border-radius: 30px;
    background-color: #cccccc;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}
#transition-example-div{
    width: 600px;
    height: 350px;
    border: 1px solid #cccccc;
}
#transition-example-div div{
    height: 50px;
    width: 10%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4) 70%),
                -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4) 70%),
                -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4) 70%),
                -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4) 70%),
                linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4) 70%);
    box-shadow: 0 -10px 25px rgba(0,0,0,0.4),inset;
    transition: width 3s;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 2px #ffffff;
}
#transition-example-div:hover div{
    width: 100%;
}
#transition-example-div .linear{
    background-color: blue;
    transition-timing-function: linear;
}
#transition-example-div .ease{
    background-color: red;
    transition-timing-function: ease;
}
#transition-example-div .ease-out{
    background-color: green;
    transition-timing-function: ease-out;
}
#transition-example-div .ease-in{
    background-color: #cccccc;
    transition-timing-function: ease-in;
}
#transition-example-div .ease-in-out{
    background-color: orange;
    transition-timing-function: ease-in-out;
}
#transition-example-div .steps{
    background-color: #0066ff;
    transition-timing-function: steps(5);
}
#transition-example-div .cubic-bezier{
    background-color: gray;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
}
@-webkit-keyframes button-glow{
    0%   {color:#000;background-color:#e69ee0;}
    50%  { color: #666; background-color: #ffeeee;}
    100% { color: #000; background-color: #369ee0;}
}
@keyframes button-glow{
    0%   {color:#000;background-color:#e69ee0;}
    50%  { color: #666; background-color: #ffeeee;}
    100% { color: #000; background-color: #369ee0;}
}
span.button_glow{
    display: inline-block;
    animation-name: button-glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes text-flames{
    0%  { text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 2px -10px 6px #ffdd33,
                     -2px -15px 11px #ff8800, 2px -25px 18px #ff2200;}
    19% {text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 2px -10px 6px #ffdd33,
                     -2px -15px 11px #ff8800, 2px -25px 18px #ff2200;}
    20% {text-shadow: 0 0 4px white, 0 -4px 3px #ffff44, 3px -9px 7px #ffdd33,
                     -3px -14px 12px #ff9900, 3px -24px 19px #ff3300;}
    39% {text-shadow: 0 0 4px white, 0 -4px 3px #ffff44, 3px -9px 7px #ffdd33,
                     -3px -14px 12px #ff9900, 3px -24px 19px #ff3300;}
    40% {text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 3px -8px 8px #ffdd44,
                     -3px -12px 11px #ff8800, 2px -25px 20px #ff3300;}
    59% {text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 3px -8px 8px #ffdd44,
                     -3px -12px 11px #ff8800, 2px -25px 20px #ff3300;}
    60% {text-shadow: 0 0 5px white, 0 -6px 5px #ffff55, 2px -7px 7px #ffdd33,
                     -5px -13px 15px #ff7700, 4px -24px 19px #ff4411;}
    79% {text-shadow: 0 0 5px white, 0 -6px 5px #ffff55, 2px -7px 7px #ffdd33,
                     -5px -13px 15px #ff7700, 4px -24px 19px #ff4411;}
    80% {text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 5px -8px 6px #ffee33,
                     -4px -12px 13px #ff8822, 2px -26px 18px #ff2200;}
    100% {text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 5px -8px 6px #ffee33,
                     -4px -12px 13px #ff8822, 2px -26px 18px #ff2200;}
}

@keyframes text-flames{
    0%  { text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 2px -10px 6px #ffdd33,
                     -2px -15px 11px #ff8800, 2px -25px 18px #ff2200;}
    19% {text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 2px -10px 6px #ffdd33,
                     -2px -15px 11px #ff8800, 2px -25px 18px #ff2200;}
    20% {text-shadow: 0 0 4px white, 0 -4px 3px #ffff44, 3px -9px 7px #ffdd33,
                     -3px -14px 12px #ff9900, 3px -24px 19px #ff3300;}
    39% {text-shadow: 0 0 4px white, 0 -4px 3px #ffff44, 3px -9px 7px #ffdd33,
                     -3px -14px 12px #ff9900, 3px -24px 19px #ff3300;}
    40% {text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 3px -8px 8px #ffdd44,
                     -3px -12px 11px #ff8800, 2px -25px 20px #ff3300;}
    59% {text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 3px -8px 8px #ffdd44,
                     -3px -12px 11px #ff8800, 2px -25px 20px #ff3300;}
    60% {text-shadow: 0 0 5px white, 0 -6px 5px #ffff55, 2px -7px 7px #ffdd33,
                     -5px -13px 15px #ff7700, 4px -24px 19px #ff4411;}
    79% {text-shadow: 0 0 5px white, 0 -6px 5px #ffff55, 2px -7px 7px #ffdd33,
                     -5px -13px 15px #ff7700, 4px -24px 19px #ff4411;}
    80% {text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 5px -8px 6px #ffee33,
                     -4px -12px 13px #ff8822, 2px -26px 18px #ff2200;}
    100% {text-shadow: 0 0 4px white, 0 -5px 4px #ffff33, 5px -8px 6px #ffee33,
                     -4px -12px 13px #ff8822, 2px -26px 18px #ff2200;}
}
div.burning_text{
    -webkit-animation: text-flames 0.6s infinite;
    animation: text-flames 0.6s infinite;
    font-size: 3em;
    color: orange;
    line-height: 2em;
    font-family: sans-serif;
    font-weight: bold;
}