// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#content .blog-index article h1 a{
    text-shadow: 1px 1px 5px #333333;
}
#content .blog-index article h1 a:hover{
        text-decoration:none;
        text-shadow: 1px 1px 4px #666666;
}
#content .blog-index a[rel=full-article] {
        background: #ebebeb;
        display: inline-block;
        padding: .4em .8em;
        margin-right: .5em;
        text-decoration: none;
        color: #666;
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        transition: background-color 0.5s;
        border: 1px solid #999999;
        border-radius: 1.5em;
}
article header h1{
    text-shadow: 1px 1px 5px #333333;
}
.noticeBox{
        box-shadow: 1px 1px 10px #666666;
        display:none;
        font-size:16px;
        font-weight:bold;
        margin-left:25px;
        color:#ffffff;
        background-color:#FEFAB8;
        border: 7px solid rgba(90,90,90,.8);
        border-radius: 6px;
        padding:20px;
        z-index: 800;
}
.fixed-center{
        position: fixed;
        left: 40%;
        top: 30%;
        max-width: 300px;
}
#content .blog-index article{
       border-right: 0.3em solid transparent;
}
#content .blog-index article:hover{
       border-right: 0.3em solid greenyellow;
}
#blog-archives article:hover{
        box-shadow: 1px 1px 5px #999999;
}
#blog-archives h1 a:hover{
    text-decoration:none;
}
hr{
    margin: 1.2em 0;
    height:1px;
    border:none;
    border-top:1px dashed #0066CC;
}